.App {
    --header_height: 60px;
}

.hw {
    position: relative;
    border-top: 1px;
    border-top-style: solid;
    border-color: #D9D9D9;
}

.hwTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    padding: 107px 0 10px 70px;
}

body {

}